body{
    margin: 0;
}

.container-lg{
    height: 100vh;
    font-family: 'Ruda', sans-serif;
    
    
    -webkit-box-shadow: -1px 0px 18px -6px rgba(0,0,0,0.4);
    -moz-box-shadow: -1px 0px 18px -6px rgba(0,0,0,0.4);
     box-shadow: -1px 0px 18px -6px rgba(0,0,0,0.4);
}
h1{
    text-shadow: 7px 4px 8px rgba(37,23,23,0.48);
}
.card{
    -webkit-box-shadow: -1px 0px 18px -6px rgba(0,0,0,0.4);
    -moz-box-shadow: -1px 0px 18px -6px rgba(0,0,0,0.4);
     box-shadow: -1px 0px 18px -6px rgba(0,0,0,0.4);
    border-radius: 6%;
}
li:hover{
    transform: scale(1.03);


}
.card:hover{
    -webkit-box-shadow: -1px 0px 18px -6px rgba(252, 113, 95, 0.486);
    -moz-box-shadow: -1px 0px 18px -6px rgba(233, 70, 70, 0.4);
     box-shadow: -1px 0px 18px -6px rgba(233, 70, 70, 0.4);
     
}
#NuevaTarea{
    -webkit-box-shadow: -1px 0px 18px -6px rgba(252, 113, 95, 0.486);
    -moz-box-shadow: -1px 0px 18px -6px rgba(233, 70, 70, 0.4);
     box-shadow: -1px 0px 18px -6px rgba(233, 70, 70, 0.4);
}
#NuevaTarea:hover{
    -webkit-box-shadow: -1px 0px 18px -6px rgba(80, 253, 123, 0.486);
    -moz-box-shadow: -1px 0px 18px -6px rgba(182, 241, 71, 0.699);
     box-shadow: -1px 0px 18px -6px rgba(185, 236, 65, 0.877);
}